<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode | default .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }} {{ partial "head_custom.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }} {{ partial "breadcrumb.html" . }}

    <section
      id="experience"
      class="section section--border-bottom rad-animation-group"
    >
      <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
          <div class="col-12 col-md-5 mt-5 mt-sm-0">
            {{ range where .Site.RegularPages.ByDate.Reverse "Type" "experience" }}

            <div class="experience">
              <div class="experience__date">{{ .Params.duration }}</div>
              <a href="{{.Permalink}}">
                <div class="experience__title">{{ .Params.jobTitle }}</div>
              </a>
              <div class="experience__location">{{ .Params.location }}</div>
              <div class="experience__company">
                <span class="experience__item">
                  <a href="https://{{ .Params.url }}">
                    <img
                      class="lozad img-responsive"
                      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                      data-src="{{ .Params.logo | absURL }}"
                      height="40"
                    />
                    {{ .Params.company }}
                  </a>
                </span>
              </div>
            </div>
            {{ end }}
          </div>
          <div class="col-12 col-md-7 mt-7 mt-sm-0">
            {{ partial "experience-description.html" . }}
          </div>
        </div>
      </div>
    </section>

    {{ partial "footer.html" . }} {{ partial "base-foot.html" . }}
  </body>
</html>
<!-- endinject -->
