<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

  <div class="page-header pt-4 pb-5">
    <div class="container-lg">
      <div class="text-center">
        <ul>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="https://github.com/pragmaxim" class="text-white">Github</a>
          </li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="https://twitter.com/pragmaxim" class="text-white">Twitter</a>
          </li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="https://t.me/pragmaxim" class="text-white">Telegram</a>
          </li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="https://www.youtube.com/@pragmaxim5101" class="text-white">Youtube</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
