{{ $homepage := partial "homepage-data.html" . }}
{{ if $homepage.about.enable }}
<section class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col-12 col-md-6">
        {{ $img := resources.Get $homepage.about.image.x }}
        {{ $img2x := resources.Get $homepage.about.image._2x }}
        <div class="profile-image">
          <picture>
            <source srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x" type="image/webp">
            <img
              class="lozad img-responsive"
              src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
              srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
              data-src="{{ $img.RelPermalink }}"
              data-srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
              alt="Profile Picture"
            />
          </picture>
        </div>
      </div>
      <div class="col-12 col-md-6 pr-3 pl-3 my-auto text-left">
        <h3>{{ $homepage.about.title }}</h3>
        <p class="lead">
        {{ $homepage.about.intro | safeHTML }}
        </p>
        <p class="lead">
          {{ $homepage.about.ending | safeHTML }}
        </p>
        <figure class="figure bg-white p-3 rounded">
          <blockquote class="blockquote">
            {{ $homepage.about.quote | safeHTML }}
          </blockquote>
          <figcaption class="blockquote-footer">
            {{ $homepage.about.author }}
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
{{ end }}
