{{ $homepage := partial "homepage-data.html" . }}
{{ if $homepage.blog.enable }}
<section id="blog" class="section rad-animation-group section--border-bottom">
    <div class="container">
        <h3 class=" rad-animation-group rad-fade-down">
            {{ $homepage.blog.title }}
        </h3>
        <div class="row row--padded mb-0 rad-fade-down">
            {{ $xp := (where .Site.RegularPages.ByDate.Reverse "Type" "blog") }}
            {{ $xpCount := len $xp }}
            {{ range first 3 $xp }}
            <div class="col-12 col-md-6 mt-4 mt-md-0 my-md-auto">
                <a href="{{.Permalink}}">
                    <div class="blog__title">{{ .Params.title }}</div>
                </a>
                <p class="blog__description">
                    {{ .Params.description }}
                </p>
            </div>
            <div class="col-12 col-md-6 pl-md-0 text-center">
                {{ $img := resources.Get .Params.imageFront }}
                <div class="values__item">
                    <picture>
                        <source srcset="{{ $img.RelPermalink }}" type="image">
                        <img
                            class="lozad img-responsive"
                            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                            srcset="{{ $img.RelPermalink }}"
                            data-src="{{ $img.RelPermalink }}"
                            data-srcset="{{ $img.RelPermalink }}"
                            height="{{ .Params.imageFrontHeight }}"
                        />
                    </picture>
                </div>
            </div>
            {{ end }}
            {{ if gt $xpCount 3 }}
            <div class="col-12 col-md-6 mt-4 mt-md-0 my-md-auto">
                {{ $xpExtra := sub $xpCount 3 }}
                {{ $moreLabel := $homepage.blog.more_label | default "And %d more" }}
                <a href="{{ relLangURL "blog" }}">{{ printf $moreLabel $xpExtra }}</a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
