{{ if .Site.Data.homepage.client_and_work.enable }}
<section id="portfolio" class="section section--border-bottom">
  <div class="container">
    <h3 class=" rad-animation-group rad-fade-down">
      Done lately
    </h3>
    {{ range $index, $element := .Site.Data.homepage.client_and_work.works }}
    <div
      class="row row--padded rad-animation-group rad-fade-down {{ if .is_even }}flex-column-reverse flex-md-row{{ end }}"
    >
      {{ $img := resources.Get .image.x }}
      {{ if .is_even }}
      <div class="col-12 col-md-6 mt-4 mt-md-0 my-md-auto">
        <p class="lead">
          {{ .description | safeHTML }}
        </p>
      </div>
      <div class="col-12 col-md-6 pl-md-0 text-center">
        <div class="works__item">
          <a href="{{ .button.URL | absURL }}">
            <picture>
              <source srcset="{{ $img.RelPermalink }}" type="image/webp">
              <img
                class='lozad img-responsive  {{ cond (eq ( mod $index 4) 0) "img-clip-left-backward" "img-clip-left-forward" }}'
                src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                srcset="{{ $img.RelPermalink }}"
                data-src="{{ $img.RelPermalink }}"
                data-srcset="{{ $img.RelPermalink }}"
                height="200"
                alt="{{ .Site.Data.homepage.showcase.image.alt }}"
              />
            </picture>
          </a>
        </div>
      </div>
      {{ else }}
      <div class="col-12 col-md-6 pl-md-0 text-center">
        <div class="works__item">
          <a href="{{ .button.URL | absURL }}">
            <picture>
              <source srcset="{{ $img.RelPermalink }}" type="image/webp">
              <img
                class='lozad img-responsive  {{ cond (eq ( mod $index 4) 0) "img-clip-left-backward" "img-clip-left-forward" }}'
                src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                srcset="{{ $img.RelPermalink }}"
                data-src="{{ $img.RelPermalink }}"
                data-srcset="{{ $img.RelPermalink }}"
                height="200"
                alt="{{ .Site.Data.homepage.showcase.image.alt }}"
              />
            </picture>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-4 mt-md-0 my-md-auto">
        <p class="lead">
          {{ .description | safeHTML }}
        </p>

      </div>
      {{ end }}
    </div>
    {{ end }}
    <h3 class=" rad-animation-group rad-fade-down">
      For
    </h3>
    <div class="row row--padded rad-animation-group rad-fade-down">
      <div class="col-12">
        <div class="clients">
          {{ range .Site.Data.homepage.client_and_work.clients }}
          {{ $img := resources.Get .logo.x }}
          <div class="clients__item">
            <a href="{{ .url | absURL }}">
              <picture>
                <source srcset="{{ $img.RelPermalink }}" type="image/webp">
                <img
                  class="lozad img-responsive"
                  src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                  srcset="{{ $img.RelPermalink }}"
                  data-src="{{ $img.RelPermalink }}"
                  data-srcset="{{ $img.RelPermalink }}"
                  height="50"
                  alt="{{ .Site.Data.homepage.showcase.image.alt }}"
                />
              </picture>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <h3 class=" rad-animation-group rad-fade-down">
      With
    </h3>
    <div class="row row--padded rad-animation-group rad-fade-down">
      <div class="col-12 text-center">
        <div class="skills">
          <a href="https://skillicons.dev" rel="nofollow">
            <img style="opacity: 0.5;" alt="My Skills" src="https://skillicons.dev/icons?i=scala,haskell,rust,py,ts,nodejs,react,css,git,github,linux,cassandra,postgres,kubernetes,gcp,aws,docker,ai,graphql,vscode,idea,ipfs&theme=light&perline=11">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
