{{ $homepage := partial "homepage-data.html" . }}
<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="{{ .Site.Home.RelPermalink }}">
          <span>{{ .Site.Params.logo.char1 }}</span>
          <span>{{ .Site.Params.logo.char2 }}</span>
          <span>{{ .Site.Params.logo.char3 }}</span>
          <span>{{ .Site.Params.logo.char4 }}</span>
          <span>{{ .Site.Params.logo.char5 }}</span>
          <span>{{ .Site.Params.logo.char6 }}</span>
          <span>{{ .Site.Params.logo.char7 }}</span>
          <span>{{ .Site.Params.logo.char8 }}</span>
          <span>{{ .Site.Params.logo.char9 }}</span>
        </a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent, #header"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{{ .Site.Home.RelPermalink }}">{{ $homepage.nav.home | default "Home" | upper }}</a>
            </li>
            {{ range .Site.Menus.header }}
            <li class="nav-item">
              <a data-scroll class="nav-link" href="{{ .URL | relLangURL }}"
                >{{ .Name | upper }}</a
              >
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
