{{ $homepage := partial "homepage-data.html" . }}
{{ if $homepage.showcase.enable }}
<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1 class="display-1">
          <br />
        </h1>
        <p class="lead">
          {{ $homepage.showcase.intro | safeHTML }}
        </p>
        <figure class="figure bg-white p-3 rounded">
          <blockquote class="blockquote">
            {{ $homepage.showcase.quote }}
          </blockquote>
          <figcaption class="blockquote-footer">
            {{ $homepage.showcase.author }}
          </figcaption>
        </figure>
        <p class="lead">
          {{ $homepage.showcase.ending | safeHTML }}
        </p>
        <div class="platform-links">
          {{ range $homepage.showcase.socialLinks }}
          <a href="{{ .URL | absURL }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .icon }}"
          ><i class="icon-{{ .icon }}-line"></i
          ></a>
          {{ end }}
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

        {{ $img := resources.Get $homepage.showcase.image.x }}
        {{ $img2x := resources.Get $homepage.showcase.image._2x }}

        <div class="text-center profile-image">
          <picture>
            <source srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x" type="image/webp">
            <img
              class="lozad img-responsive"
              src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
              srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
              data-src="{{ $img.RelPermalink }}"
              data-srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x"
              alt="{{ $homepage.showcase.image.alt }}"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
  
</section>
{{ end }}
