<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode | default .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }} {{ partial "head_custom.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }} {{ partial "breadcrumb.html" . }}

    {{ $homepage := partial "homepage-data.html" . }}
    <section id="blog" class="section rad-animation-group section--border-bottom">
      <div class="container">
        <h3 class=" rad-animation-group rad-fade-down">
          {{ $homepage.blog.title }}
        </h3>
        <div class="row row--padded mb-0 rad-fade-down">
          {{ range where .Site.RegularPages.ByDate.Reverse "Type" "blog" }}
          <div class="col-12 col-md-6 mt-4 mt-md-0 my-md-auto">
            <a href="{{.Permalink}}">
              <div class="blog__title">{{ .Params.title }}</div>
            </a>
            <p class="blog__description">
              {{ .Params.description }}
            </p>
          </div>
          <div class="col-12 col-md-6 pl-md-0 text-center">
            {{ $img := resources.Get .Params.imageFront }}
            <div class="values__item">
              <picture>
                <source srcset="{{ $img.RelPermalink }}" type="image">
                <img
                        class="lozad img-responsive"
                        src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                        srcset="{{ $img.RelPermalink }}"
                        data-src="{{ $img.RelPermalink }}"
                        data-srcset="{{ $img.RelPermalink }}"
                        height="{{ div (.Params.imageFrontHeight | int) 2 }}"
                />
              </picture>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
  </body>
</html>
<!-- endinject -->
