<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }} {{ partial "head_custom.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }} {{ partial "breadcrumb.html" . }}

    <section
      id="blog"
      class="section section--border-bottom rad-animation-group"
    >
      <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
          <div class="col-12 mt-7 mt-sm-0">
            <div class="blog__header_img">
              {{ if .Params.imageHeader }}
                {{ $imgHeader := resources.Get .Params.imageHeader }}
                <picture>
                  <source srcset="{{ $imgHeader.RelPermalink }}" type="image">
                  <img
                    class="lozad img-responsive"
                    src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                    srcset="{{ $imgHeader.RelPermalink }}"
                    data-src="{{ $imgHeader.RelPermalink }}"
                    data-srcset="{{ $imgHeader.RelPermalink }}"
                    height="150"
                  />
                </picture>
              {{ end }}
            </div>
            <div class="blog__content">
              {{ .Content | safeHTML }}
            </div>
            <div class="blog__footer_img">
              {{ if .Params.imageFooter }}
              {{ $imgFooter := resources.Get .Params.imageFooter }}
              <picture>
                <source srcset="{{ $imgFooter.RelPermalink }}" type="image">
                <img
                        class="lozad img-responsive"
                        src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                        srcset="{{ $imgFooter.RelPermalink }}"
                        data-src="{{ $imgFooter.RelPermalink }}"
                        data-srcset="{{ $imgFooter.RelPermalink }}"
                        height="150"
                />
              </picture>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ partial "base-foot.html" . }}
  </body>
</html>
<!-- endinject -->
